:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
input,button{
  padding:10px;
  margin:20px;
  background-color: #615e5e48;
  border:none;
  color:rgb(0, 0, 0);
  font-size: 20px;
}
input::placeholder{
  color:#000000;
}