:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 1005px;
    height: 100%;
}

button {
    padding: 10px 20px;
    margin: 40px 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(122, 128, 122);
    border: none;
    font-size: 15px;
    border-radius: 5px;
}
h1{
    width: fit-content;
    background-color: gainsboro;
    padding: 50px;
     border-radius: 5px;
     margin: 20px auto;
}