:root {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
}

.page2 {
  height: 100vh;
  width: 100%;
  background-color: #222;
}

.page3 {
  height: 100vh;
  width: 100%;
  background-color: #333;
}