:root {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  color: white;
  
}

html,
body {
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}
h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-decoration: underline;
}
a{
  color: white;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background-color: rgb(46, 101, 125);
  
}

.nav div {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px;
}