* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#fff
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}
.card{
  padding:20px;
  margin:20px auto;
  background-color: #580763;
  color:#fff;
  border-radius: 20px;
}
.navbar{
  background-color: rgba(23, 40, 40, 0.482);
  color: #111;
}
.navbar ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
}
.navbar ul li{
  transition: .50s linear;
}
.navbar ul li:hover{
  color:rgb(255, 255, 254);
  text-decoration: underline;
}