:root {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: rgb(50, 165, 154);
  color: white;
}

.Nav2 {
  display: flex;
  gap: 30px;
  padding: 0 15px;
}