:root {
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  background: rgb(26, 141, 139);
  color: white;
  font-weight: bold;
}
.dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  background: rgb(35, 40, 40);
  color: white;
  font-weight: bold;
}

.Nav2 {
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 40px;
}