:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.parent{
  height: 100vh;
  width: 100%;
  background-color: #222;
  padding: 30px;
}
.card{
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top img{
  height: 30px;
}
.top button{
  display: flex;
  align-items: center;
  font-size: 15px;
  border-radius: 8px;
  background-color: #f4f0f0;
  border:1px solid white;
  padding: 5px 15px;
  font-weight: 300;
  color: #5e5b5b;
}
.content span{
font-size:10px;
font-weight: 400;
color:#948a8a;
margin-left: -4px;
}
.content h2{
font-size:25px;
font-weight: 600;
margin: 0;
}
.content h1{
font-size:25px;
font-weight: 700;
margin: 0;
}